In [1]:
import pandas as pd
import numpy as np

In [2]:
customer = pd.read_excel('data/Customer_v2.xlsx')
customer.shape

(267615, 3)

In [3]:
reviews = pd.read_excel('data/Reviews.xlsx')
reviews.shape

(112732, 2)

In [4]:
sales_train = pd.read_excel('data/Sales.xlsx', sheet_name='Train')
sales_train.shape

(50820, 16)

In [5]:
sales_test = pd.read_excel('data/Sales.xlsx', sheet_name='Test')
sales_test.shape

(3780, 15)

In [6]:
reviews.head()

                                             Comment  BookCode
0  This is a self-published book, and if you want...     52979
1  I was a dissapointed to see errors on the back...     22722
2  A complete waste of time. Typographical errors...     52720
3  I feel I have to write to keep others from was...     32722
4  Excellent stockings for long shifts on your fe...     84987

In [7]:

import os
import pandas as pd
import numpy as np
import re
import time



start_time = time.time()

def profiling_numeric(dataframe):
    columns = dataframe.columns
    df = pd.DataFrame(columns,columns=['column_name'])
    
#     # datatype of the each columns
#     dtypes = dataframe.dtypes.tolist()
#     dtypes_df = pd.DataFrame(dtypes,columns = ['dtypes'])
    # total counts of the each columns
    total_count = [len(dataframe[col]) for col in dataframe.columns]
    total_count_df = pd.DataFrame(total_count,columns = ['total_count'] )
    
    # max_value of the each columns
    max_value = [dataframe[col].max() for col in dataframe.columns]
    max_val_df = pd.DataFrame(max_value,columns = ['max_value'] )
    
    # min_value of the each columns
    min_value = [dataframe[col].min() for col in dataframe.columns]
    min_val_df = pd.DataFrame(min_value,columns = ['min_value'] )
    
    # calculating the occurace of maximum value
    max_val_occur = []
    for cols in dataframe.columns:
        maximum = dataframe[cols].max()
        count_max = dataframe[cols].eq(maximum).sum()
        max_val_occur.append(count_max)
    max_val_occur_df = pd.DataFrame(max_val_occur,columns = ['max_value_count'] )
    
    # calculating the occuraces of minimum value
    min_val_occur = []
    for cols in dataframe.columns:
        minimum = dataframe[cols].min()
        count_min = dataframe[cols].eq(minimum).sum()
        min_val_occur.append(count_min)
    min_val_occur_df = pd.DataFrame(min_val_occur,columns = ['min_value_count'] )
    
    # finding Maximum length of each columns
    max_length = []
    for cols in dataframe.columns:
        max_length.append(max(len(str(each)) for each in dataframe[cols] ))
    max_len_df = pd.DataFrame(max_length,columns = ['max_length'] )  
    
    # finding Minimum length of each columns
    min_length = []
    for cols in dataframe.columns:
         min_length.append(min(len(str(each)) for each in dataframe[cols] ))
    min_len_df = pd.DataFrame(min_length,columns = ['min_length'] )
    
    
    # Unique values of each columns
    unique_values = []
    for cols in dataframe.columns:
        unique_values.append(dataframe[cols].nunique())
    nunique_df = pd.DataFrame(unique_values,columns = ['unique_values'])
    
    
    #Calculating Negetive Values of each columns
    neg_count = []
    for cols in dataframe.columns:
        neg_counter = 0
        for row in dataframe[cols]:
            if row < 0:
                neg_counter += 1
        neg_count.append(neg_counter)
    neg_count_df = pd.DataFrame(neg_count,columns = ['negative_value_count'])
    
    # Zero Value Count
    zero_count = []
    for cols in dataframe.columns:
        total_count = len(dataframe[cols])
        non_zero = dataframe[cols].astype(bool).sum(axis=0)
        zero_count.append(total_count - non_zero)
    zero_count_df = pd.DataFrame(zero_count,columns = ['zero_vale_count'])
    
    # Calculating Null Count of each columns
    null_count = []
    for cols in dataframe.columns:
        total_count = len(dataframe[cols])
        null_count.append(dataframe[cols].isna().sum())
    null_count_df = pd.DataFrame(null_count,columns = ['null_value_count'])
    
    # Calculating Null percentage of each column
    null_perc = []
    for cols in dataframe.columns:
        total_count = len(dataframe[cols])
        null_count = dataframe[cols].isna().sum()
        null_percentage = (null_count/total_count)*100
        null_perc.append(null_percentage)
    null_percentage_df = pd.DataFrame(null_perc,columns = ['null_percentage'])
    
    # appending the results to exsisting DataFrame
    output_numeric = pd.concat([df,total_count_df, max_val_df, min_val_df,
                           max_val_occur_df, min_val_occur_df, nunique_df, neg_count_df, zero_count_df,max_len_df,min_len_df,
                           null_count_df, null_percentage_df],
                           axis =1).reset_index(drop=True)
    
    return output_numeric


def profiling_object(dataframe):
    columns = dataframe.columns
    df = pd.DataFrame(columns,columns=['column_name'])
    
    # total counts of the each columns
    total_count = [len(dataframe[col]) for col in dataframe.columns]
    total_count_df = pd.DataFrame(total_count,columns = ['total_count'] )
    
    
    # finding Maximum length of each columns
    max_length = []
    for cols in dataframe.columns:
        max_length.append(max(len(str(each)) for each in dataframe[cols] ))
    max_len_df = pd.DataFrame(max_length,columns = ['max_length'] )  
    
    # finding Minimum length of each columns
    min_length = []
    for cols in dataframe.columns:
         min_length.append(min(len(str(each)) for each in dataframe[cols] ))
    min_len_df = pd.DataFrame(min_length,columns = ['min_length'] )
    
    # Unique values of each columns
    unique_values = []
    for cols in dataframe.columns:
        unique_values.append(dataframe[cols].nunique())
    nunique_df = pd.DataFrame(unique_values,columns = ['unique_values'])
    
    
    # max_value of the each columns
    max_val = []
    for cols in dataframe.columns:
        max_value = max([str(sub) for sub in dataframe[cols].tolist()])
        max_val.append(max_value)
    max_val_df = pd.DataFrame(max_val,columns = ['max_value'] )

    # max_value of the each columns
    min_val = []
    for cols in dataframe.columns:
        min_value = min([str(sub) for sub in dataframe[cols].tolist()])
        min_val.append(min_value)
    min_val_df = pd.DataFrame(min_val,columns = ['min_value'] )

     # calculating the occurace of maximum value
    max_val_occur = []
    for cols in dataframe.columns:
        maximum = max([str(sub) for sub in dataframe[cols].tolist()])
        count_max = dataframe[cols].eq(maximum).sum()
        max_val_occur.append(count_max)
    max_val_occur_df = pd.DataFrame(max_val_occur,columns = ['max_value_count'] )
    
    # calculating the occuraces of minimum value
    min_val_occur = []
    for cols in dataframe.columns:
        minimum = min([str(sub) for sub in dataframe[cols].tolist()])
        count_min = dataframe[cols].eq(minimum).sum()
        min_val_occur.append(count_min)
    min_val_occur_df = pd.DataFrame(min_val_occur,columns = ['min_value_count'] )
    
    
    # extracting a subset of the main dataFrame , excluding date, time and boolean columns. is* columns contains boolean vaues
    rest = dataframe.loc[:,~dataframe.columns.str.contains('Date|Time|^is')]
    # replacing NaN values with empty string as isalnum() and isalpha() throws and error with null values.
    rest_df = rest.replace(np.nan,'',regex=True)

    #Calculating alphanumeric values of each columns
    alnum_counts = []
    for cols in rest_df.columns:
        alnum_counter = 0
        #iterating through each row of each column
        for each in rest_df[cols]:
            if each != 'TRUE' or each != 'FALSE':
                pass
            elif each.isalnum() == True and each.isalpha() == False and each.isdigit() ==False  :
                alnum_counter += 1
            else:
                pass
        alnum_counts.append(alnum_counter)
    alnum_df = pd.DataFrame(alnum_counts,columns = ['alphanumeric_count'])
    alnum_df['column_name'] = rest_df.columns

    # Calculating Null Count of each columns
    schar_count = []
    regex = re.compile('[@#!$%^&*()_+=}{~`;:?|\/]')
    for cols in dataframe.columns:
        schar_counter = 0
        for each in dataframe[cols]:
            if (regex.search(str(each)) == None):
                pass
            else:
                schar_counter +=1
        schar_count.append(schar_counter)
    schar_df = pd.DataFrame(schar_count,columns=['special_char_count'])
    
    # Calculating Null Count of each columns
    null_count = []
    for cols in dataframe.columns:
        total_count = len(dataframe[cols])
        null_count.append(dataframe[cols].isna().sum())
    null_count_df = pd.DataFrame(null_count,columns = ['null_value_count'])
    
    # Calculating Null percentage of each column
    null_perc = []
    for cols in dataframe.columns:
        total_count = len(dataframe[cols])
        null_count = dataframe[cols].isna().sum()
        null_percentage = (null_count/total_count)*100
        null_perc.append(null_percentage)
    null_percentage_df = pd.DataFrame(null_perc,columns = ['null_percentage'])
    
    # appending the results to exsisting DataFrame
    output_base = pd.concat([df, total_count_df,max_len_df,min_len_df,nunique_df,
                               max_val_df,min_val_df,max_val_occur_df,min_val_occur_df,
                               null_count_df,null_percentage_df,schar_df],
                               axis =1).reset_index(drop=True)
    
    # Joining the intermediate output with the alphaNumeric DataFrame
    output_object = pd.merge(output_base,alnum_df,how='outer',on='column_name')
    
    return output_object


def profiling_test(dataframe):
    
    df_numeric = dataframe.select_dtypes(include = np.number)
    df_object = dataframe.select_dtypes(include = np.object)
    
    output_numeric = profiling_numeric(df_numeric)
    output_object = profiling_object(df_object)
    
    # appending the results to exsisting DataFrame
    output = pd.concat([output_numeric,output_object],axis = 0 , ignore_index =True,sort = False)
    output.fillna(0,inplace =True)
  
    
    return output
    
    
    
## for single file 

# def main():
#     final_report = []
#     dataframe_list = [customer,reviews,sales_train,sales_test]
#     #collection_name = 'Advindividualuser'
#     for each in dataframe_list:
#         collection_name = each 
#         #print(collection_name)
#         start_time = time.time()
#         dataframe = each.copy()
#         print('Execution Time after reading the data for: ',collection_name,end = "")
#         print('----%s seconds ----' % (time.time() - start_time ))
#         report =  profiling_test(dataframe)
#         report.insert(loc = 0, column = 'collection_name', value = collection_name)
#         final_report.append(report)

#         final_report_df = pd.concat(final_report,ignore_index = True)
#         #final_report_df.to_csv(collection_name+'_profiling_report.csv',index =False)
#         print('Total Execution Time : ',end = "")
#         print('----%s seconds ----' % (time.time() - start_time ))



# if __name__ == '__main__':
#     main()

In [8]:
report_customer =  profiling_test(customer)
report_customer.insert(loc = 0, column = 'collection_name', value = 'customer')

report_reviews =  profiling_test(reviews)
report_reviews.insert(loc = 0, column = 'collection_name', value = 'reviews')

report_sales_train =  profiling_test(sales_train)
report_sales_train.insert(loc = 0, column = 'collection_name', value = 'sales_train')

report_sales_test =  profiling_test(sales_test )
report_sales_test.insert(loc = 0, column = 'collection_name', value = 'sales_test')

final_report = pd.concat([report_customer,report_reviews,report_sales_train,report_sales_test],axis = 0,ignore_index =True,sort = False)

#

In [9]:
final_report

,collection_name,column_name,total_count,max_value,min_value,max_value_count,min_value_count,unique_values,negative_value_count,zero_vale_count,max_length,min_length,null_value_count,null_percentage,special_char_count,alphanumeric_count
0,customer,CustomerID,267615,18287,12346,59,1,4372,0.0,0.0,5,5,0,0.000000,0.0,0.0
1,customer,Age,267615,81,11,28,106,44,0.0,0.0,2,2,0,0.000000,0.0,0.0
2,customer,BookCode,267615,POST,10002,379,40,3684,0.0,0.0,12,1,0,0.000000,0.0,0.0
3,reviews,BookCode,112732,124987,22720,4202,11683,20,0.0,0.0,6,5,0,0.000000,0.0,0.0
4,reviews,Comment,112732,Ã‰ste es un libro que no te va a dejar igual. ...,!!!the shirts came ripped and stained!!! do no...,1,1,112670,0.0,0.0,1007,1,2,0.001774,52762.0,0.0
5,sales_train,Units Sold,50820,1.58118e+06,31.7,1,1,45872,0.0,0.0,17,4,0,0.000000,0.0,0.0
6,sales_train,Available Books in the shelf,50820,2.31441e+06,37.629,1,1,50564,0.0,0.0,17,4,0,0.000000,0.0,0.0
7,sales_train,Price,50820,22.0069,0.700696,1,1,50815,0.0,0.0,18,3,0,0.000000,0.0,0.0
8,sales_train,NewYear,50820,1,0,840,49980,2,0.0,49980.0,1,1,0,0.000000,0.0,0.0
9,sales_train,MLK,50820,1,0,1785,49035,2,0.0,49035.0,1,1,0,0.000000,0.0,0.0
10,sales_train,Presidents,50820,1,0,840,49980,2,0.0,49980.0,1,1,0,0.000000,0.0,0.0
11,sales_train,GoodFriday,50820,1,0,840,49980,2,0.0,49980.0,1,1,0,0.000000,0.0,0.0
12,sales_train,Memorial,50820,1,0,840,49980,2,0.0,49980.0,1,1,0,0.000000,0.0,0.0
13,sales_train,Independence,50820,1,0,1260,49560,2,0.0,49560.0,1,1,0,0.000000,0.0,0.0
14,sales_train,Labor,50820,1,0,2415,48405,2,0.0,48405.0,1,1,0,0.000000,0.0,0.0
15,sales_train,Thanksgiving,50820,1,0,840,49980,2,0.0,49980.0,1,1,0,0.000000,0.0,0.0
16,sales_train,Christmas,50820,1,0,840,49980,2,0.0,49980.0,1,1,0,0.000000,0.0,0.0
17,sales_train,BookCode,50820,124987,22720,2541,2541,20,0.0,0.0,6,5,0,0.000000,0.0,0.0
18,sales_train,State,50820,Wisconsin,Arizona,2420,2420,21,0.0,0.0,10,4,0,0.000000,0.0,0.0
19,sales_train,Time,50820,Week End 12-31-17,Week End 01-06-19,420,420,121,0.0,0.0,17,17,0,0.000000,0.0,0.0
20,sales_test,Available Books in the shelf,3780,2.24702e+06,64.7,1,1,3751,0.0,0.0,17,4,0,0.000000,0.0,0.0
21,sales_test,Price,3780,21.8545,0.927504,1,1,3780,0.0,0.0,18,9,0,0.000000,0.0,0.0
22,sales_test,NewYear,3780,0,0,3780,3780,1,0.0,3780.0,1,1,0,0.000000,0.0,0.0
23,sales_test,MLK,3780,0,0,3780,3780,1,0.0,3780.0,1,1,0,0.000000,0.0,0.0
24,sales_test,Presidents,3780,0,0,3780,3780,1,0.0,3780.0,1,1,0,0.000000,0.0,0.0
25,sales_test,GoodFriday,3780,0,0,3780,3780,1,0.0,3780.0,1,1,0,0.000000,0.0,0.0
26,sales_test,Memorial,3780,0,0,3780,3780,1,0.0,3780.0,1,1,0,0.000000,0.0,0.0
27,sales_test,Independence,3780,0,0,3780,3780,1,0.0,3780.0,1,1,0,0.000000,0.0,0.0
28,sales_test,Labor,3780,0,0,3780,3780,1,0.0,3780.0,1,1,0,0.000000,0.0,0.0
29,sales_test,Thanksgiving,3780,1,0,420,3360,2,0.0,3360.0,1,1,0,0.000000,0.0,0.0
30,sales_test,Christmas,3780,1,0,420,3360,2,0.0,3360.0,1,1,0,0.000000,0.0,0.0
31,sales_test,BookCode,3780,124987,22720,189,189,20,0.0,0.0,6,5,0,0.000000,0.0,0.0
32,sales_test,State,3780,Wisconsin,Arizona,180,180,21,0.0,0.0,10,4,0,0.000000,0.0,0.0
33,sales_test,Time,3780,Week End 12-29-19,Week End 11-03-19,420,420,9,0.0,0.0,17,17,0,0.000000,0.0,0.0

In [10]:
final_report.to_csv('data/Profiling_Report_All_Columns.csv',index= False)